<div id="users-list" role="list" aria-label="conversations">  
    {% for user in users %} 
        <div id="user{{ user.id }}" class="select-none {{ user == currentUser ? 'hidden' : '' }} {{ user.isVerified ? '' : 'hidden' }}" role="listitem">
            <button aria-label="Chat with {{ user.userDetails.firstname }} {{ user.userDetails.lastname }}" title="Chat with {{ user.userDetails.firstname }} {{ user.userDetails.lastname }}" tabindex="0" class="w-full px-5 py-3 flex items-center focus:bg-indigo-100 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-100 active:bg-indigo-100 focus:outline-none transition duration-500 ease-out">
                <div class="relative mr-4">
                    <div class="w-12 h-12 rounded-full bg-contain bg-center shadow border border-gray-200 dark:border-gray-700" style="background-image: url('{{ user.userDetails.avatar }}');"></div>
                    <span id="user{{ user.id }}-online-status" class="bottom-0 left-8 absolute w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                </div>
                <div class="w-full flex flex-col">
                    <div class="w-full">
                        <div class="flex items-start justify-between">
                            <div class="flex items-center grow mb-4 text-start">
                                <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 leading-4 tracking-[.01rem] truncate max-w-60">
                                    {{ user.userDetails.firstname }} {{ user.userDetails.lastname }}
                                </p>
                                {% if user.userDetails.badge %}
                                    <span class="inline-flex self-center items-center justify-center align-center w-6 h-4 text-sm font-semibold text-{{ user.userDetails.badgeColor }}-600 rounded-full px-1">
                                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path fill="currentColor" d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
                                            <path fill="#fff" d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/>
                                        </svg>
                                        <span class="sr-only">Icon description</span>
                                    </span> 
                                {% endif %}
                            </div>
                            <p id="user{{ user.id }}-time-ago" class="outline-none text-xs text-black opacity-80 dark:text-white dark:opacity-90 font-light leading-4 tracking-[.01rem]"></p>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div>
                            <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">
                                <span id="user{{ user.id }}-last-message" timestamp='1' class="last-message whitespace-pre-wrap truncate line-clamp-1 break-all">...</span>
                            </p>
                        </div> 
                    </div>
                </div>
            </button> 
        </div> 
    {% endfor %}    
</div>    