<div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white h-full" style="overflow: visible auto;" data-inactive-classes="text-gray-500 dark:text-gray-400">
    <h2 id="accordion-flush-heading-1">
        <button type="button" class="flex items-center justify-between w-full py-5 px-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="false" aria-controls="accordion-flush-body-1">
            <div class="grow text-start">
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] mb-4"> Account </p>
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-normal leading-4 tracking-[.01rem]"> Update your profile details</p>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
        <div class="py-5 px-5 border-b border-gray-200 dark:border-gray-700">
            {{ form_start(profileForm) }}
                <div class="w-full flex flex-col gap-7">
                    <div>
                        <div class="flex justify-start">
                            <div class="mb-2">
                                {{ form_label(profileForm.firstname, 'First name', {'label_attr': {'class': 'w-13 text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]'}}) }}
                            </div>
                        </div>
                        <div class="relative">
                            {{ form_widget(profileForm.firstname, {'attr': {'class': 'max-w-full w-full h-8 py-4 rounded-sm content-center placeholder:text-black placeholder:opacity-40 text-opacity-90 dark:placeholder:text-white dark:placeholder:opacity-90 focus:outline-none transition duration-200 ease-out text-black bg-gray-50 dark:text-white border-opacity-0 dark:bg-gray-700 dark:bg-opacity-90 dark:border-opacity-90 dark:border-gray-700 focus:ring focus:ring-indigo-100 dark:focus:bg-opacity-0 focus:bg-opacity-0'}}) }}
                            <div class="absolute top-0 right-0"></div>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-start">
                            <div class="mb-2">
                                {{ form_label(profileForm.lastname, 'Last name', {'label_attr': {'class': 'w-13 text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]'}}) }}
                            </div>
                        </div>
                        <div class="relative">
                            {{ form_widget(profileForm.lastname, {'attr': {'class': 'max-w-full w-full h-8 py-4 rounded-sm content-center placeholder:text-black placeholder:opacity-40 text-opacity-90 dark:placeholder:text-white dark:placeholder:opacity-90 focus:outline-none transition duration-200 ease-out text-black bg-gray-50 dark:text-white border-opacity-0 dark:bg-gray-700 dark:bg-opacity-90 dark:border-opacity-90 dark:border-gray-700 focus:ring focus:ring-indigo-100 dark:focus:bg-opacity-0 focus:bg-opacity-0'}}) }}
                            <div class="absolute top-0 right-0"></div>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-start">
                            <div class="mb-2">
                                {{ form_label(profileForm.nickname, 'Nickname', {'label_attr': {'class': 'w-13 text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]'}}) }}
                            </div>
                        </div>
                        <div class="relative">
                            {{ form_widget(profileForm.nickname, {'attr': {'class': 'max-w-full w-full h-8 py-4 rounded-sm content-center placeholder:text-black placeholder:opacity-40 text-opacity-90 dark:placeholder:text-white dark:placeholder:opacity-90 focus:outline-none transition duration-200 ease-out text-black bg-gray-50 dark:text-white border-opacity-0 dark:bg-gray-700 dark:bg-opacity-90 dark:border-opacity-90 dark:border-gray-700 focus:ring focus:ring-indigo-100 dark:focus:bg-opacity-0 focus:bg-opacity-0'}}) }}
                            <div class="absolute top-0 right-0"></div>
                        </div>
                    </div>
                    <div>
                        <div class="flex justify-start">
                            <div class="mb-2">
                                {{ form_label(profileForm.about.about, 'Bio', {'label_attr': {'class': 'w-13 text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]'}}) }}
                            </div>
                        </div>
                        <div class="relative">
                            {{ form_widget(profileForm.about.about, {'attr': {'rows': '6', 'placeholder': 'Tell us about yourself ...', 'class': 'resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex justify-start">
                            <div class="mb-2">
                                {{ form_label(profileForm.avatar, 'Avatar', {'label_attr': {'class': 'w-13 text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem]'}}) }}
                            </div>
                        </div>
                        <label tabindex="0" class="cursor-pointer w-full h-[6.25rem] border border-dashed rounded-sm border-gray-200 dark:border-gray-500 flex justify-center items-center hover:bg-opacity-0 active:bg-opacity-0 focus:bg-opacity-0 outline-none focus:outline-none duration-500 transition-all bg-gray-50 dark:bg-opacity-90 dark:bg-gray-700 dark:hover:bg-opacity-0 dark:focus:bg-opacity-0">
                            {{ form_widget(profileForm.avatar, {'attr': {'name': 'files[]', 'hidden': '', 'accept': 'image/*', 'class': ''}}) }}
                            <div class="w-full h-full flex justify-center items-center">
                                <div id="user-profile-preview" class="text-center outline-none text-sm font-normal leading-4 tracking-[.01rem] text-black text-opacity-40 dark:text-white dark:text-opacity-90">Choose an image</div>
                            </div> 
                        </label>
                    </div>
                    <button type="submit" class="float-right p-2 px-3 bg-blue-600 text-white rounded px-3 py-2 text-sm font-medium">Save account settings</button> 
                </div>
                {{ form_row(profileForm._token) }}
            {{ form_end(profileForm) }} 
        </div>
    </div>

    <h2 id="accordion-flush-heading-2">
        <button type="button" class="flex items-center justify-between w-full py-5 px-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
            <div class="grow text-start">
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] mb-4"> Privacy &amp; Safety </p>
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-normal leading-4 tracking-[.01rem]"> Control your privacy settings</p>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
        <div class="py-5 px-5 border-b border-gray-200 dark:border-gray-700">
            {{ form_start(settingsForm) }}  
                <div class="w-full flex flex-col gap-7" aria-hidden="false" id="privacy-settings-collapse">
                    <div class="w-full flex flex-col">
                        <div class="flex items-center">
                            <div class="grow"> 
                                {{ form_label(settingsForm.isTwoFactorAuth, 'Two-Factor Authentication', {'label_attr': {'class': 'outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] w-13'}}) }}
                            </div> 
                            <label class="inline-flex items-center cursor-pointer"> 
                                {{ form_widget(settingsForm.isTwoFactorAuth, {'attr': {'class': 'sr-only peer'}}) }}
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            </label> 
                        </div>
                        <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">Two-Factor Authentication (2FA) enhances the security of your online accounts by requiring an additional verification step beyond your regular password. With email-based 2FA, you'll receive a unique verification code in your email that you must provide to confirm your identity, adding an extra layer of protection to your account.</p>
                    </div> 
                    <div class="w-full flex flex-col">
                        <div class="flex items-center">
                            <div class="grow">
                                {{ form_label(settingsForm.isNotification, 'Notification', {'label_attr': {'class': 'outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] w-13'}}) }}
                            </div> 
                            <label class="inline-flex items-center cursor-pointer">
                                {{ form_widget(settingsForm.isNotification, {'attr': {'class': 'sr-only peer hidden'}}) }}
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            </label> 
                        </div>
                        <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">Stay informed with real-time updates about who has sent you a message. Notifications will alert you promptly, ensuring you never miss important communication.</p>
                    </div> 
                    <div class="w-full flex flex-col">
                        <div class="flex items-center">
                            <div class="grow">
                                {{ form_label(settingsForm.isSaveMessage, 'Save Message', {'label_attr': {'class': 'outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] w-13'}}) }}
                            </div> 
                            <label class="inline-flex items-center cursor-pointer">
                                {{ form_widget(settingsForm.isSaveMessage, {'attr': {'class': 'sr-only peer hidden'}}) }}
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            </label> 
                        </div>
                        <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">When you disable this feature, messages will not be saved, and the receiving party must be online to read your message when you send it.</p>
                    </div>  
                    <button type="submit" class="float-right p-2 px-3 bg-blue-600 text-white rounded px-3 py-2 text-sm font-medium">Save privacy settings</button> 
                </div>
                {{ form_row(settingsForm._token) }}
            {{ form_end(settingsForm) }} 
        </div>
    </div>

    <h2 id="accordion-flush-heading-3">
        <button type="button" class="flex items-center justify-between w-full py-5 px-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
            <div class="grow text-start">
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] mb-4"> Appearance </p>
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-normal leading-4 tracking-[.01rem]"> Customize the look and feel </p>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
        <div class="py-5 px-5 border-b border-gray-200 dark:border-gray-700">
            <div class="w-full flex flex-col">
                <div class="flex items-center">
                    <div class="grow">
                        <p class="outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-semibold leading-4 tracking-[.01rem] w-13">Dark Mode</p>
                    </div>
                    <label class="inline-flex items-center cursor-pointer">
                        <input id="theme-toggle-input" type="checkbox" class="sr-only peer">
                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    </label>
                </div>
                <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-90 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">Apply a theme with dark colors</p>
            </div>
        </div>
    </div> 
</div>