<p class="text-black opacity-90 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none px-5 py-5" tabindex="0">Settings</p> 

<div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white h-full" style="overflow: visible auto;" data-inactive-classes="text-gray-500 dark:text-gray-400">
    <h2 id="accordion-flush-heading-1">
        <button type="button" class="flex items-center justify-between w-full py-5 px-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="false" aria-controls="accordion-flush-body-1">
            <div class="grow text-start">
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] mb-4"> Account </p>
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-normal leading-4 tracking-[.01rem]"> Update your profile details</p>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
        <div class="py-5 px-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
            <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS. </p>
        </div>
    </div>

    <h2 id="accordion-flush-heading-2">
        <button type="button" class="flex items-center justify-between w-full py-5 px-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
            <div class="grow text-start">
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] mb-4"> Privacy &amp; Safety </p>
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-normal leading-4 tracking-[.01rem]"> Control your privacy settings</p>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
        <div class="py-5 px-5 border-b border-gray-200 dark:border-gray-700">
            {{ form_start(settingsForm) }}  
                <div class="w-full flex flex-col gap-7" aria-hidden="false" id="privacy-settings-collapse">
                    <div class="w-full flex flex-col">
                        <div class="flex items-center">
                            <div class="grow"> 
                                {{ form_label(settingsForm.isTwoFactorAuth, 'Two-Factor Authentication', {'label_attr': {'class': 'outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] w-13'}}) }}
                            </div> 
                            <label class="inline-flex items-center cursor-pointer"> 
                                {{ form_widget(settingsForm.isTwoFactorAuth, {'attr': {'class': 'sr-only peer'}}) }}
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            </label> 
                        </div>
                        <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">Two-Factor Authentication (2FA) enhances the security of your online accounts by requiring an additional verification step beyond your regular password. With email-based 2FA, you'll receive a unique verification code in your email that you must provide to confirm your identity, adding an extra layer of protection to your account.</p>
                    </div> 
                    <div class="w-full flex flex-col">
                        <div class="flex items-center">
                            <div class="grow">
                                {{ form_label(settingsForm.isNotification, 'Notification', {'label_attr': {'class': 'outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] w-13'}}) }}
                            </div> 
                            <label class="inline-flex items-center cursor-pointer">
                                 {{ form_widget(settingsForm.isNotification, {'attr': {'class': 'sr-only peer hidden'}}) }}
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            </label> 
                        </div>
                        <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">Stay informed with real-time updates about who has sent you a message. Notifications will alert you promptly, ensuring you never miss important communication.</p>
                    </div> 
                    <div class="w-full flex flex-col">
                        <div class="flex items-center">
                            <div class="grow">
                                {{ form_label(settingsForm.isSaveMessage, 'Save Message', {'label_attr': {'class': 'outline-none text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] w-13'}}) }}
                            </div> 
                            <label class="inline-flex items-center cursor-pointer">
                                {{ form_widget(settingsForm.isSaveMessage, {'attr': {'class': 'sr-only peer hidden'}}) }}
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                            </label> 
                        </div>
                        <p class="text-sm text-black opacity-80 dark:text-white dark:opacity-80 font-normal leading-4 mt-5 tracking-[.01rem] help-block outline-none" tabindex="0">When you disable this feature, messages will not be saved, and the receiving party must be online to read your message when you send it.</p>
                    </div>  
                    <button type="submit" class="float-right p-2 px-3 bg-blue-600 text-white rounded px-3 py-2 text-sm font-medium">Save privacy settings</button> 
                </div>
                {{ form_row(settingsForm._token) }}
            {{ form_end(settingsForm) }} 
        </div>
    </div>

    <h2 id="accordion-flush-heading-3">
        <button type="button" class="flex items-center justify-between w-full py-5 px-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
            <div class="grow text-start">
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-semibold leading-4 tracking-[.01rem] mb-4"> Appearance </p>
                <p class="outline-none text-sm text-black opacity-90 dark:text-white dark:opacity-80 font-normal leading-4 tracking-[.01rem]"> Customize the look and feel </p>
            </div>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
            </svg>
        </button>
    </h2>
    <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
        <div class="py-5 px-5 border-b border-gray-200 dark:border-gray-700">
            <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
            <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
            <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                <li>
                    <a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a>
                </li>
                <li>
                    <a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a>
                </li>
            </ul>
        </div>
    </div> 
</div>