{% extends 'base.html.twig' %}

{% block title %}Authentication - Amicanem{% endblock %}

{% block body %} 
<section {{ stimulus_controller('two_factor_auth', {  }) }} class="bg-gray-50 dark:bg-gray-900 flex align-center h-[100dvh] my-0 ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0 w-full">
        <a href="#" class="flex items-center py-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="/logo.png" alt="logo">
            Amicanem    
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h3 class="flex justify-center leading-tight tracking-tight text-gray-900 dark:text-white">
                    Two-Factor Authentication
                </h3>
                <p class="text-center text-sm text-neutral-500">
                    A unique code has been sent to your email address. 
                    Please check your inbox and enter the code below to complete the login process.
                </p>
                {% if authenticationError %}
                    <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</span>
                        </div>
                    </div>  
                {% endif %}
                <form class="form space-y-4 md:space-y-6" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post" id="form">
                    
                    <input class="text-center bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        id="_auth_code"
                        type="text"
                        name="{{ authCodeParameterName }}"
                        autocomplete="one-time-code"
                        autofocus
                        placeholder="Authentication Code"
                        required 
                        inputmode="numeric"
                        pattern="[0-9]*" 
                    />
                  

                    {% if displayTrustedOption %}
                        <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
                    {% endif %}
                    {% if isCsrfProtectionEnabled %}
                        <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                    {% endif %}
                    <button type="submit" class="w-full justify-center bg-blue-600 px-4 py-2 border flex gap-2 border-slate-200 dark:border-slate-700 rounded text-slate-700 dark:text-slate-200 hover:border-slate-400 dark:hover:border-slate-500 hover:text-slate-900 dark:hover:text-slate-300 hover:shadow transition duration-150">
                        <span class="text-white">Verify</span>
                    </button>
                    <a href="{{ logoutPath }}" class="flex justify-center text-red-600 font-normal">Cancel</a> 
                    <div>
                        <p class="flex justify-center" id="resend_code_text">Didn't get the code?</p>
                        <p class="flex justify-center text-neutral-600" id="resend_code_counter">
                            You can request for a new one in 1:00
                        </p>
                    </div>
                    <a href="/2fa-resend-code" class="flex justify-center text-blue-600 font-bold hidden">Resend Code</a>
                </form> 
            </div>
        </div>
    </div>
</section>
{% endblock %}
