
<div class="h-full w-full flex flex-col bg-slate-100 dark:bg-gray-800 border-r-[1px] border-gray-200 dark:border-gray-600">
    <div class="w-full min-h-[5rem] max-h-fit px-5 py-6 flex justify-between items-center">
        <div class="flex flex-row items-center gap-2">
            <div aria-label="Amicanem" title="Amicanem" class="w-11 h-11 rounded-full bg-contain bg-center shadow border border-gray-200 dark:border-gray-700" style="background-image: url('/logo.png');"></div>
            <div>
                <p class="select-none text-black opacity-60 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none font-semibold truncate max-w-60" tabindex="0">{{ currentUser.userDetails.firstname }}  {{ currentUser.userDetails.lastname }}</p>
                <p class="text-black opacity-60 dark:text-white text-xs leading-4 tracking-[.01rem] outline-none" tabindex="0">{{ currentUser.userDetails.nickname }}</p>
            </div>
        </div>
        <div class="flex items-center gap-2">
            <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 rounded-lg text-sm p-2.5" aria-label="Toggle light/dark mode" title="Toggle light/dark mode" >
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                <svg id="theme-toggle-light-icon" title="Light mode" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </button> 
            <button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="sm:hidden flex items-center rounded-full outline-none focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-700 focus:bg-gray-100 dark:focus:bg-gray-600 transition-all duration-200 w-7 h-7" aria-label="compose conversation" title="compose conversation">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 12" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-300 hover:text-indigo-400">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                </svg>
            </button> 
        </div>
    </div> 
    
    <div class="px-5 pb-4">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative flex justify-start">
            <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" aria-label="Search" title="Search" class="flex w-full p-2 ps-10 text-sm text-gray-900 border border-gray-400 rounded-sm bg-gray-200 focus:ring-gray-500 focus:border-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500" placeholder="Search messages or users" required />
        </div> 
    </div>
    
    <div class="px-5 py-3">
        <nav aria-label="Main navigation">
            <ul class="flex justify-between items-center">
                <li>
                    <div class="flex flex-col justify-center items-center">
                        <button class="group relative focus:outline-none" title="Conversations" aria-label="Conversations">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-7 h-6 group-focus:text-indigo-400 hover:text-indigo-400 active:text-indigo-400 active:scale-110 dark:text-gray-500 transition ease-out duration-200 text-indigo-400 dark:text-indigo-400">
                                <path fill-rule="evenodd" d="M5.337 21.718a6.707 6.707 0 01-.533-.074.75.75 0 01-.44-1.223 3.73 3.73 0 00.814-1.686c.023-.115-.022-.317-.254-.543C3.274 16.587 2.25 14.41 2.25 12c0-5.03 4.428-9 9.75-9s9.75 3.97 9.75 9c0 5.03-4.428 9-9.75 9-.833 0-1.643-.097-2.417-.279a6.721 6.721 0 01-4.246.997z" clip-rule="evenodd"></path>
                            </svg> 
                        </button>
                        <p class="select-none text-xs text-black opacity-60 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none" tabindex="0">Chats</p>
                    </div>
                </li>
                <li>
                    <div class="flex flex-col justify-center items-center">
                        <button class="group relative focus:outline-none" title="Contacts" aria-label="Contacts">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-7 h-6 group-focus:text-indigo-400 hover:text-indigo-400 active:text-indigo-400 active:scale-110 dark:text-gray-500 transition ease-out duration-200 text-gray-300">
                                <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
                            </svg> 
                        </button>
                        <p class="select-none text-xs text-black opacity-60 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none" tabindex="0">Contacts</p>
                    </div>
                </li> 
                <li>
                    <div class="flex flex-col justify-center items-center">
                        <button class="rounded-full active:scale-110 focus:outline-none focus:scale-110 transition duration-200 ease-out" aria-expanded="true" aria-controls="profile-menu" aria-label="toggle profile menu" style="box-shadow: rgba(193, 202, 255, 0.5) 0px 0.125rem 0.3125rem, rgba(193, 202, 255, 0.5) 0.125rem 0px 0.3125rem, rgba(193, 202, 255, 0.5) -0.125rem 0px 0.3125rem, rgba(193, 202, 255, 0.5) 0px -0.125rem 0.3125rem;">
                            <div class="w-10 h-10 rounded-full bg-contain bg-center" style="background-image: url('{{ currentUser.userDetails.avatar }}')"></div>
                        </button> 
                    </div>
                </li>
                <li>
                    <div class="flex flex-col justify-center items-center">
                        <button class="group relative focus:outline-none" title="Call log" aria-label="Call log">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-7 h-6 group-focus:text-indigo-400 hover:text-indigo-400 active:text-indigo-400 active:scale-110 dark:text-gray-500 transition ease-out duration-200 text-gray-300">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                            </svg> 
                        </button>
                        <p class="select-none text-xs text-black opacity-60 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none" tabindex="0">Calls</p>
                    </div>
                </li>
                <li>
                    <div class="flex flex-col justify-center items-center">
                        <button class="group relative focus:outline-none" title="Settings" aria-label="Settings">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-7 h-6 group-focus:text-indigo-400 hover:text-indigo-400 active:text-indigo-400 active:scale-110 dark:text-gray-500 transition ease-out duration-200 text-gray-300">
                                <path fill-rule="evenodd" d="M11.078 2.25c-.917 0-1.699.663-1.85 1.567L9.05 4.889c-.02.12-.115.26-.297.348a7.493 7.493 0 00-.986.57c-.166.115-.334.126-.45.083L6.3 5.508a1.875 1.875 0 00-2.282.819l-.922 1.597a1.875 1.875 0 00.432 2.385l.84.692c.095.078.17.229.154.43a7.598 7.598 0 000 1.139c.015.2-.059.352-.153.43l-.841.692a1.875 1.875 0 00-.432 2.385l.922 1.597a1.875 1.875 0 002.282.818l1.019-.382c.115-.043.283-.031.45.082.312.214.641.405.985.57.182.088.277.228.297.35l.178 1.071c.151.904.933 1.567 1.85 1.567h1.844c.916 0 1.699-.663 1.85-1.567l.178-1.072c.02-.12.114-.26.297-.349.344-.165.673-.356.985-.57.167-.114.335-.125.45-.082l1.02.382a1.875 1.875 0 002.28-.819l.923-1.597a1.875 1.875 0 00-.432-2.385l-.84-.692c-.095-.078-.17-.229-.154-.43a7.614 7.614 0 000-1.139c-.016-.2.059-.352.153-.43l.84-.692c.708-.582.891-1.59.433-2.385l-.922-1.597a1.875 1.875 0 00-2.282-.818l-1.02.382c-.114.043-.282.031-.449-.083a7.49 7.49 0 00-.985-.57c-.183-.087-.277-.227-.297-.348l-.179-1.072a1.875 1.875 0 00-1.85-1.567h-1.843zM12 15.75a3.75 3.75 0 100-7.5 3.75 3.75 0 000 7.5z" clip-rule="evenodd"></path>
                            </svg> 
                        </button>
                        <p class="select-none text-xs text-black opacity-60 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none" tabindex="0">Settings</p>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700"> 
    
    <p class="text-black opacity-60 dark:text-white text-normal leading-4 tracking-[.01rem] outline-none px-5 py-6" tabindex="0">Chats</p> 
    
    <div id="usersList" role="list" aria-label="conversations" class="w-full h-full scroll-smooth scrollbar-hidden" style="overflow: visible auto;">
        {% for user in users %} 
            <div id="user{{ user.id }}" class="select-none {{ user == currentUser ? 'hidden' : '' }}" role="listitem">
                <button aria-label="Chat with {{ user.userDetails.firstname }} {{ user.userDetails.lastname }}" title="Chat with {{ user.userDetails.firstname }} {{ user.userDetails.lastname }}" tabindex="0" class="w-full h-[5rem] px-5 py-5 flex items-center rounded focus:bg-indigo-100 dark:active:bg-gray-600 dark:focus:bg-gray-600 dark:hover:bg-gray-600 hover:bg-indigo-100 active:bg-indigo-100 focus:outline-none transition duration-500 ease-out">
                    <div class="relative mr-4">
                        <div class="w-12 h-12 rounded-full bg-contain bg-center shadow border border-gray-200 dark:border-gray-700" style="background-image: url('{{ user.userDetails.avatar }}');"></div>
                        <span id="user{{ user.id }}-online-status" class="bottom-0 left-8 absolute w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                    </div>
                    <div class="w-full flex flex-col">
                        <div class="w-full">
                            <div class="flex items-start justify-between">
                                <div class="grow mb-4 text-start">
                                    <p class="outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 leading-4 tracking-[.01rem] truncate max-w-60">
                                        {{ user.userDetails.firstname }} {{ user.userDetails.lastname }}
                                    </p>
                                </div>
                                <p id="user{{ user.id }}-time-ago" class="outline-none text-xs text-black opacity-60 dark:text-white dark:opacity-70 font-light leading-4 tracking-[.01rem]"></p>
                            </div>
                        </div>
                        <div class="flex justify-between">
                            <div>
                                <p class="outline-none text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-normal leading-4 tracking-[.01rem] flex justify-start items-center">
                                    <span id="user{{ user.id }}-last-message" timestamp='1' class="last-message whitespace-pre-wrap truncate line-clamp-1 break-all">...</span>
                                </p>
                            </div> 
                        </div>
                    </div>
                </button> 
            </div> 
        {% endfor %}  
    </div>   
</div>   

